body {
    font-family: Arial, sans-serif;
    background-color: #177125;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
    font-size: 4rem; /* Aumenta el tamaño del título */
    font-weight: bold; /* Hace que el texto sea más grueso */
}


.album-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos imágenes por fila */
    gap: 15px;
    max-width: 1000px;
    width: 100%;
    margin-top: 30px;
    padding: 0 20px;
}

.album-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Para que las imágenes sean responsivas */
@media screen and (max-width: 768px) {
    .album-container {
        grid-template-columns: 1fr; /* Una imagen por fila en pantallas más pequeñas */
    }
}
