body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    background-color: #ffcccc;
    padding: 15px;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100vw;
    height: calc(100vh - 60px); /* Resta el tamaño del título */
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
